@media screen and (min-width: 428px) {
   .container {
    width: 428px;
   }

/*------------------------------------custom---------------------------------------------------*/  

.custom {
    width: 100%;
}
.custom-item {
    width: calc((100% - 24px) / 2);
}
/*--------------------------------------------hero----------------------------------------------------*/
.hero {
    width: 100%;
}
/*--------------------------------------------skills----------------------------------------------------*/
   .skills {
    width: 100%;
   }
/*--------------------------------------------section-btn----------------------------------------------------*/
.section-btn {
    width: 100%;
}
/*--------------------------------------------portfolio----------------------------------------------------*/
.portfolio{
    width: 100%;
}
}