@media screen and (min-width: 428px) {
   .container {
    width: 428px;
   }

/*------------------------------------custom---------------------------------------------------*/  

.custom {
    width: 100%;
}
.custom-item {
    width: calc((100% - 24px) / 2);
}
/*--------------------------------------------hero----------------------------------------------------*/
.hero {
    width: 100%;
}
/*--------------------------------------------skills----------------------------------------------------*/
   .skills {
    width: 100%;
   }
/*--------------------------------------------section-btn----------------------------------------------------*/
.section-btn {
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(./images/Dark-bg-mob.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-btn {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(./images/Dark-bg-mob-x2.jpg);
  }
}
.section-under-btn {
    width: 320px;
}
/*--------------------------------------------portfolio----------------------------------------------------*/
.portfolio{
    width: 100%;
}
/*--------------------------------------------soc-list----------------------------------------------------*/
.mob-soc-list {
    gap: 56px;
}
}